<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li class="nav-bar__lists__link"><a href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#minton"></use>
                    </svg>MINTON</a></li>
        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists nav-bar__lists--left">  
            <li class="nav-bar__lists__link"><a href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                    </svg></a></li>
            <input class="nav-bar__lists nav-bar__lists--search" type="search" name="q" placeholder="search...">
            <a class=""><svg class="nav-bar__lists nav-bar__lists--svg-iconf">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                    </svg></a>
            <br>
        </ul>

        <!--nuo cia dropdown -->
       <ul class="nav-bar__lists nav-bar__lists--right">
         <li class="nav-bar__lists__link dropdown">
                <a  href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
                </svg>
                 </a>
                <div class="dropdown-menu" aria-labelledby="activities">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
          </li>

            <li class="nav-bar__lists__link"><a href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#morehoriz"></use>
                    </svg></a></li>
            <li class="nav-bar__lists__link"><a href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#addalert"></use>
                    </svg></a></li>
            <li class="nav-bar__lists__link"><a href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accountcircle"></use>
                    </svg></a></li>
        </ul>
    </nav>
</div>


