<div id="side-menu-right" class="side-menu side-menu--right side-menu--right--closed">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li>
        
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="activity-tab">
            <div class="side-menu__tab-activity">  
                <div class="side-menu__tab-activity__content">
                    <p>5 minutes ago</p>
                    <h5><a href="#">John Doe</a> Uploaded foto</h5>
                    <h6>glhlkdfhljdfhfhdbhfjhbjbbkdhjdfhdhhdfhhfdjhjdfhhdfhhdf</h6>
                </div>
                <div class="side-menu__tab-activity__content">
                    <p>30 minutes ago</p>
                    <h5><a href="#">John Doe</a> Uploaded foto</h5>
                    <h6>glhlkdfhljdfhfhdbhfjhbjbbkdhjdfhdhhdfhhfdjhjdfhhdfhhdf</h6>
                </div>
                <div class="side-menu__tab-activity__content">
                    <p>59 minutes ago</p>
                    <h5><a href="#">John Doe</a> Uploaded foto</h5>
                    <h6>glhlkdfhljdfhfhdbhfjhbjbbkdhjdfhdhhdfhhfdjhjdfhhdfhhdf</h6>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="side-menu__tab-settings">
                <div class="side-menu__tab-settings__content">
                    <h5>Notifications</h5>
                    <h6>Do you need them?</h6>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
            </div>
            <div class="side-menu__tab-settings">
                <div class="side-menu__tab-settings__content">
                    <h5>API Access</h5>
                    <h6>Anable/Disable access</h6>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2"></label>
                </div>
            </div>
            <div class="side-menu__tab-settings">
                <div class="side-menu__tab-settings__content">
                    <h5>Auto Updates</h5>
                    <h6>Keep up to date</h6>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3"></label>
                </div>
            </div>
            <div class="side-menu__tab-settings">
                <div class="side-menu__tab-settings__content">
                    <h5>Online Status</h5>
                    <h6>Show your status to all</h6>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4">
                    <label class="custom-control-label" for="customSwitch4"></label>
                </div>
            </div>
        </div>    
    </div>
</div>