
.login{
    background: white;
                
    &__title{
        display: flex;
        color: blue;
    }
    .svg-icon{
        fill: blue;
    }
    &__form{
        &__item{
            position: relative;
            margin-bottom: 20px;
            @include default-input();
        }
        &__button{
            background:lightblue;
            width: 100%;
            height: 56px;
            border: $border;
            border-radius: $border-radius;
        }
    }
}
