.container-fluid{
    width: 100%;
    padding: 0;
    margin: 0;
    .boxes{
        border: none;
        border-style: none;

        &__left__top{
            text-align: center;
            .boxes__image{
                margin: 0;
                border: 1px solid $mid-gray;
                padding: 4px;
            }
            .general-info{
                text-align: left;
                padding-bottom: 10px;
                font-weight: bold;
                span{
                    font-weight: normal;
                }
            }
            .user-info__bottom{
                margin-top: 40px;
                margin-bottom: 40px;
                .circle{
                  @include circle();
                  height: 40px;
                  width: 40px;
                  margin-right: $spacer;
                  background: gray;
                  .svg-icon{
                    &--color{
                      fill: #5a5757;
                      padding: 6px;
                    }
                  }
                }
              }
            .boxes__user-info{
                margin: 0;
                align-items: center;
                .boxes__title{
                    font-weight: bold;
                    text-align: center;
                }
                .boxes__title__mail{
                    text-align: center;
                    padding-bottom: 30px;
                }
            
                .login__form__item{

                    a:first-child{
                        border: none;
                        background-color: $color-success; 
                    }
                    a:last-child{
                        border: none;
                        background-color: $color-danger; 
                    }
                }
            }
        }
        &__left__bottom{

            .title{
                padding-bottom: 20px;
            }
            .subtitle{
                padding-bottom: 10px;
            }
        }
        &__right{
            border-style: none;
            .nav{

                border-bottom: 2px solid $mid-gray;
                .nav-link.active{
                    border-bottom: 2px solid blue;
                }
                
                .nav-item{
                    text-decoration: none;
                    border: none;
                    color: black;
                }
            }
            .form-group{
                border-bottom: 1px solid $mid-gray;
                &-first{
                    padding-top: 20px;
                }
                &-last{
                    padding-bottom: 50px;
                }
                .form-control{
                    border: none;
                    border-radius: 0;
                    padding: 0;
                }
            }
            .btn{
                width: 100px;
                height: 40px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }
}
h2{
    padding-bottom: 20px;
}