---
layout: login.hbs
---

<div class="container perfect-center">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="login">
                <div class="login__title">
                    <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#minton"></use>
                    </svg>
                    <h2>MINTON</h2>
                </div>
                <div class="login__form">
                    <form action="" class="login__form" name="login-form" action="dashboard.html">
                        <div class="login__form__item">
                            <input type="email" name="email" required="required">
                            <label class="label-inside" for="email">Email</label>
                        </div>
                        <div class="login__form__item">
                            <input type="password" name="password" value="" required="required">
                            <label class="label-inside" for="password">Password</label>
                        </div>
                        <div class="login__form__item login__form__item--checkbox">
                            <div class="checkbox">
                                <input type="checkbox" name="remember" value="" required="required">
                                <label for="password">Remember me</label>
                            </div>
                        </div>
                        <div class="login__form__item">
                            <button class="button button--full-width" >Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>