---
custom_basename: profile
---
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col">
                    <div class="boxes boxes__left__top">
                        <div class="boxes__user-info">
                            <div><img class="boxes__image img-fluid" src="assets/images/user.jpg" alt="user picture"></div>
                            <h6 class="boxes__title">Mark McKnight</h6>
                            <div class="boxes__title__mail"><span>@webdesigner</span></div>
                            <div class="login__form__item">
                                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Follow</a>
                                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Message</a>
                            </div>
                        </div>
                        <div class="general">
                            <div class="general-info">Full Name: <span>Mark A. McKnight</span></div>
                            <div class="general-info">Mobile: <span>(123) 123 1234</span></div>
                            <div class="general-info">Email: <span>coderthemes@gmail.com</span></div>
                            <div class="general-info">Location: <span>USA</span></div>
                        </div>
                        <div class="user-info__bottom d-flex justify-content-center">
                            <div class="circle">
                                <svg class="svg-icon svg-icon--color">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                                </svg>
                            </div>
                            <div class="circle">
                                <svg class="svg-icon svg-icon--color">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                                </svg>
                            </div>
                            <div class="circle">
                                <svg class="svg-icon svg-icon--color">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skype"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="boxes boxes__left__bottom">
                        <div class="title">SKILLS</div>
                        <div class="subtitle">HTML5</div>
                        <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="subtitle">PHP</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="subtitle">Wordpress</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="boxes boxes__right">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">ABOUT ME</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">GALLERY</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">SETTINGS</a>
                    </div>
                    {{!-- ikopinau sita diva su viskuo  --}}
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="home-tab">
                           <form class="">
                                <div class="form-group form-group-first">
                                    <label for="exampleFormControlInput1">Full Name</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="first.last@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Username</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="john">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="6 - 15 Characters">
                                </div>
                                <div class="form-group">
                                    <label for="password">Re-Password</label>
                                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="6 - 15 Characters">
                                </div>
                                <div class="form-group form-group-last">
                                    <label for="exampleFormControlTextarea1">About Me</label>
                                    <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
                                </div>
                                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Save</a>
                            </form> 
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="profile-tab">Profileee</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="contact-tab">Contactssss</div>
                    </div>
                    {{!-- iki cia keiciu --}}
                </nav>
            </div>
        </div>
    </div>
</div>
