@mixin default-button($height: 50px, $background: $default-btn){
    display: block;
    width: auto;
    height: 50px;
    line-height: 50px;
    background: $background;
    color: white;
    border: 0;
    border-radius: 100px;
    transition: $transition;
    text-decoration: none;
    text-align: center;
    &:hover{
        background: $background;
        filter: brightness(85%);
    }
    &:focus{
        outline: none;
    }
}
.button{
    @include default-button();
    &--full-width{
        width: 100%;
    }
}