$checkbox-size: 20px; 
$checkbox-border-radius: 2px;
$checkbox-bg: white;
$checkbox-bg-checked: $default-btn;
$checkbox-border: rgba(54, 64, 74, 0.2);
$checkbox-padding: 4px;
$checkmark-size: $checkbox-size - 2 * $checkbox-padding;
.checkbox{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    label{
        cursor: pointer;
        margin-left: 10px;
        &:before, &:after{
            content: "";
            position: absolute;
            left: 0;
        }
        &:before{
            width: $checkbox-size;
            height: $checkbox-size;
            background: $checkbox-bg;
            border-radius: $checkbox-border-radius;
            border: 2px solid $checkbox-border;
            transition: background $transition;
        }
    }
    input[type="checkbox"]{
        visibility: hidden;
        outline: 0;
        &:checked{
            +label:before{
                background: $checkbox-bg-checked;
                border: 0;
            }
            +label:after{
                width: $checkmark-size;
                height: $checkmark-size / 2;
                border: 2px solid $checkbox-bg;
                border-top-style: none;
                border-right-style: none;
                -webkit-transform: translate($checkbox-padding, ($checkbox-size / 2) - ($checkmark-size / 2.6)) rotate(-45deg);
                -ms-transform: translate($checkbox-padding, ($checkbox-size / 2) - ($checkmark-size / 2.6)) rotate(-45deg);
                  transform: translate($checkbox-padding, ($checkbox-size / 2) - ($checkmark-size / 2.6)) rotate(-45deg);
            }
        }
    }
}
