input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
@mixin default-label($selector: label, $background: 'white', $selector: label){
    #{$selector}{
        position: absolute;
        background: $background;
        font-size: 16px;
        color: $mid-gray;
        top: 18px;
        left: 18px;
        margin: 0;
        transition: .2s ease all;
        pointer-events: none;
        
    } 
}
@mixin default-input($selector: input, $background: 'white', $height: $input-height){
    #{$selector}{
        width: 100%;
        height: $height;
        border: $border;
        border-radius: $border-radius;
        background: $background;
        color: $mid-gray;
        padding-left: 18px;
        &:focus{
            outline: none;
            border-color: $default-bg;
            box-shadow: 0 0 0 1px $default-bg;

        }
        &:valid ~ label{
            top: -7px;
            padding: 0 6px;
            font-size: 12px;

        }
        &:focus ~ label{
            top: -7px;
            padding: 0 6px;
            font-size: 12px;
        }
    }
    @include default-label($background);
}
