@mixin default-label($selector: label, $background: 'white'){
    #{$selector}{
        background: $background;
    } 
}
@mixin default-input($selector: input, $background: 'white', $height: $input-height){
    #{$selector}{
        width: 100%;
        height: $height;
        border: $border;
        border-radius: $border-radius;
        background: white;
        color: $mid-gray;

    }
    @include default-label($background);
}
