.side-menu{
    position: fixed;
    top: $nav-height;
    width: $nav-left-width;
    height: 100%;
    background-color: $default-sidenav-bg;
        -webkit-box-shadow: $box-shadow;
         box-shadow: $box-shadow;
    overflow: scroll;
    padding: 0px 0 80px;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar{
        display: none;
    }
    z-index: 999;
    .nav{
        .nav-link{
            color: black;
            text-decoration: none;
            border: none;
            border-bottom: 2px solid $mid-gray;
            width: 125px;
            text-align: center;
        }
        .nav-item{
            
            text-decoration: none;
            border: none;
            color: black;
            .nav-link.active{
                border-bottom: 2px solid blue;
            }
        }
    }
    &--right{
        background: white;
        right: 0;
        transition: $transition;
        width: $sidenav-right-width;
        &--closed{
            right: -$sidenav-right-width;
        }    
    }
    &__tab-activity{
        
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        
        &__content{
            
            border-left: 4px solid #222;
            padding-left: 20px;
            position: relative;
            padding-bottom: 40px;
            &:before{
                content: "";
                position: absolute;
                top: 2px;
                left: -10px;
                width: 16px;
                height: 16px;
                background: #fff;
                border: 4px solid #222;
                border-radius: 50%;

            }
            p{
                padding-bottom: 10px;
            }
            h5{
                font-weight: normal;
                a{
    
                }
    
            }
            h6{
                margin-bottom: 0;
                font-weight: bold;
            }
            
        }    
    }
    &__tab-settings{
        margin-left: 16px;
        display: flex;
        &__content{
            padding-top: 18px;
            width: 180px;
        }
        .custom-switch{
            padding-top: 20px;
            
            input{
                
            }
            label{
                color: green;
                float: left;
            }
        }
    }  

    &__lists{
        
    
    &__list{
        padding: 12px 20px;
        position: relative;
        border-left: 3px solid #fff;
        span{
            margin-left: 10px;
        }
        &:hover{
            background-color: $hover-sidenav-bg;
            border-left: 5px solid blue;
            a{
                color: $default-bg;
                text-decoration: none;
            }
            &:after{
                @include arrow();
            }
        }
        a{
            display: flex;
            align-items: center;
            color: inherit;
            color: $text-color;
            svg{
                // margin-right: 10px;
                color: $mid-gray;
            }
        }
        &:after{
            @include arrow($rotate: -45deg);

        }
        &.active{
            background: $bg-color;
            border-left: 5px solid blue;
            a{
                
                background-color: $default-bg;
                background: $bg-color;
            }
        }
       
        
    }
        &__title{
            padding: 12px 20px;
            font-size: 12px;
        }
        }
        &--closed{
            width: 70px;
            
            .side-menu__lists{
                &__list{
                    span{
                        display: none;
                    }
                    &:after{
                        display: none;
                    }
                }
                &__title{
                    display: none;
                }
            }
        }
    }


//fainas selektorius, leidzia parinkti visus tagus du klase col, siuo atveju visus div turincius col klase
//div[class^="col"] {
//}
//fainas selektorius, leidzia parinkti visus tagus du klase col, siuo atveju visus div turincius col klase
//.my_test
//div[class*="col"] {
//}