
/*
.title{
    color: lime;
    .sudas{
        color:green;
    }
    .title-bar{
        color: red;
        &--left{
            float: left;
            text-align: center;
            color: red;    
        }
        &--right{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            color: green;
        }
    }  
}
.sudas{
    color: red;
}
*/


